/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18-mag-2018, 11.25.03
    Author     : annoni.stefano
*/

/*------------------------------------------------------------------
[ Button Login]*/
.container-login100-form-btn {
    width: 100%;
    margin-top: 45px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.login100-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 146px;
    margin-top: -39px;
    margin-left: 153px;
    height: 30px;
    background-color: #57b846;
    border-radius: 25px;
    font-family: Poppins-Regular;
    font-size: 13px;
    color: #fff;
    line-height: 1.2;

    /* -webkit-transition: all 0.4s;
     -o-transition: all 0.4s;
     -moz-transition: all 0.4s;
     transition: all 0.4s;*/
}

.login100-form-btn:hover {
    background-color: #088A29;
}
