@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:700i');
@import url('https://fonts.googleapis.com/css?family=Neuton');

 header ul {
    list-style-type: none;
    margin: -10px;
    padding: 0;
    overflow: hidden;
    background-color: rgba(67, 74, 84, 0.6);
}
.logoSurvily{
    float: left;
}
.userLogReg{
    float: right;
}

html {
    position: relative;
    height: 100%;
}

body{
    font-family: 'Poppins', sans-serif;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding-top: 19px;
    padding-bottom: 19px;
    padding-right: 10px;
    padding-left: 10px;
    text-decoration: none;
}

#registratiButton{
    margin-right: 25px;
}

/* Change the link color on hover */
.userLogReg a:hover {
    color: #019612;
}

.logo{
    
    margin-top: -14px;
    padding-left: 19px;
}

body{
    width: 100%;
    overflow-x: hidden;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.SpiegaUtenze{
    
    padding-top: 130px;
    margin-left: -8px;
    width: 102%;
    height: 500px;
    color: white;
    text-align: center;
    background-image: url("../images/backgroundhome.jpg");

}

.SpiegaUtenze h1{
    font-family: 'Neuton', sans-serif;
    color: #383838;
}


.spiegaFree{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    width: 400px;
    height: 360px;
    text-align: center;
    border-radius: 10px;
    clear: none; 
    color:black;
    position: relative;
    display: inline-block;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.SpiegaFree:hover{
    -webkit-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
}

.SpiegaFree:hover::after{
    opacity: 1;
}

.cellContainer {
  width: 50%;
  float: left;
}

.SpiegaPremium{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    width: 400px;
    height: 360px;
    text-align: center;
    border-radius: 10px;
    color:black;
    display:inline-block;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.SpiegaFree:before {
    content: '';
    width: 100%;
    min-width: 100px;
    max-width: 200px;
    display: inline-block;
}

.SpiegaPremium:hover{
    -webkit-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
}

.SpiegaPremium:hover::after{
    opacity: 1;
}
.footer{
    position: absolute;
    width: 100%;
    line-height: 60px;
    background-color: rgba(67, 74, 84, 0.6);
    color: white;
    margin-left: -10px;
    padding-left: 20px;
}


.logoFooter{
    float: left;
    margin-top: 30px;
}

.content{
    min-height: 410px;
    margin-top: 200px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 70px;
    text-align: center;
    text-shadow: 0.5px 0 0 #565656, -0.5px 0 0 #565656, 0 0.5px 0 #565656, 0 -0.5px 0 #565656, 0.5px 0.5px #565656, -0.5px -0.5px 0 #565656, 0.5px -0.5px 0 #565656, -0.5px 0.5px 0 #565656;
}

.infoFooter{
    margin-left: 100px; 
    margin-top: 10px;
    float: left;
}
.footer a{
    text-decoration: none;
}
.footer a:link{
    color: white;
}

.footer a:hover {
    color: #019612;
}

.testoSpiegaUtenze{
    text-align: left;
    padding-left: 30px;
}

.listaSpiegazione{
    list-style-image: url(../images/check.png);
}

.listaSpiegazione li{
    padding-top: 10px;
}

.social{
    float: right;
    margin-right: 40px;
    margin-top: 40px;
    font-size: 200%;
}

.social a{
    margin-left: 5px;
    margin-right: 5px;
}
